<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.email}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                
            </ul>
        </div>
        <div class="col-sm-6 offset-sm-1">
            <h3>Change Password</h3>
            <hr>
            <form action="#" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                <label for="">Old Password</label>
                <input type="password" name="old_password" class="form-control" id="password2" placeholder="old password"><br>
                <label for="">New Password</label>
                <input type="password" name="new_password" class="form-control" id="password2" placeholder="new password"><br>
                <label for="">Confirm New Password</label>
                <input type="password" name="confirm_new_password" class="form-control" id="password2" placeholder="conform new password"><br>
                {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</p>
                {% endfor %}
                {% endif %}
                <div class="text-center">
                    <button style="color: blue;" type="submit" value="submit" class="button w-20">Submit</button>
                  </div>
            </form>
        </div>
    </div>
</div>